.my-navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(111, 168, 221);
}
.nav-justify {
  display: flex;
  justify-content: space-between;
}
.my {
  display: flex;
  justify-content: space-arround;
}

.dropdown {
  width: 50px;
}

.top-search {
  width: 800px !important;
  height: 50px !important;
  margin-top: 10px;
}
.top-select {
  margin-top: 15px;
}

i {
  color: black;
  position: absolute;
  margin-top: 10px;
  margin-left: 220px;
}
.cover {
  object-fit: fill !important;
  width: 100rem;
  height: 40vh;
  margin-top: -13px !important;
  margin-left: -50px !important;
}

.avatar {
  max-width: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-toggle::after {
  display: none !important;
}

.user-dropdown > .btn:first-child {
  color: #fff;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  padding: 0px;
}

.top-flex {
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: 1fr, 3fr, 6fr; */
}

.icon {
  z-index: 1;
  margin-left: 750px !important;
}

.user-name {
  color: white;
  padding: 10px;
  text-transform: capitalize;
}
.username {
  color: white;
  padding: 10px;
}
