@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --main-bg: #ffffff;
  --second-bg: #fafafb;
  --txt-color: #455560;
  --txt-white: #fff;
  --main-color: #349eff;
  --second-color: #62b4ff;
  --box-shadow: rgba(104, 104, 104, 0.4) 8px 8px 10px;

  --main-bg-light: #ffffff;
  --second-bg-light: #ebebeb;
  --txt-color-light: #455560;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --main-bg-dark: #2d2d2d;
  --second-bg-dark: #202020;
  --txt-color-dark: #bbbbbb;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

  --main-color-blue: #349eff;
  --second-color-blue: #62b4ff;

  --main-color-red: #fb0b12;
  --second-color-red: #ff4a6b;

  --main-color-cyan: #10d4d2;
  --second-color-cyan: #2ae9e6;

  --main-color-green: #019707;
  --second-color-green: #4caf50;

  --main-color-orange: #d68102;
  --second-color-orange: #fca11a;

  --sidebar-width: 300px;
  --border-radius: 15px;
  --topnav-height: 110px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  letter-spacing: 0.7px;
  overflow-x: hidden;
}

a:hover {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--txt-color);
}

ul {
  list-style-type: none;
}

input {
  border: 2px solid transparent;
}

.invalid {
  border-color: red !important;
}

.was-validated .no__feedback:valid {
  background-image: none;
}

.was-validated .no__feedback:invalid {
  background-image: none;
}

.background {
  /* Full height */
  height: 100vh;
  width: 100vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  opacity: 0.7;
  z-index: 0;
}

.form {
  background-color: rgb(233, 233, 233) !important;
  border-radius: 3%;
  box-shadow: var(--box-shadow);
  margin-left: 40vw;
}

.slogan {
  margin-left: 5vw;
  margin-top: 40vh;
  width: 500px;
  color: rgb(0, 0, 0);
  z-index: 1;
  position: fixed;
}

.slogan h1 {
  font-size: 70px;
  z-index: 1;
  color: #572e00;
}

a {
  text-decoration: underline;
  color: rgb(4, 0, 255);
}
