.layout {
  color: var(--txt-color);
}

.layout__content {
  /* padding-left: var(--sidebar-width); */
  background-color: var(--second-bg);
  /* min-height: 100vh; */
}

.layout__content__main {
  margin-top: 90px;
  padding: 0px 50px 00px 50px;
}
